* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

img {
    width: 90px;
    margin: 2px auto 5px 2px;
}

main {
    margin-top: 100px;
    background-color: rgba(192, 189, 189, 0.87);
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
}

/* main div {
    border: 1px solid black;
} */

iframe {
    margin-top: 10px;
    justify-self: center;
    grid-column-start: 2;
    background-color: #eee;
    
}

.about-text {
    background-color: #eee;
    border: 1px; solid black;
    grid-column: 2/3;
    grid-row: 2;
}

















