* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

img {
    width: 90px;
    margin: 2px auto 5px 2px;
}

main {
    margin-top: 100px;
    background-color: rgba(192, 189, 189, 0.87);
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto 300px;
    border: 1px solid black;
}

main div {
    border: 1px solid black;
}




















