nav {
    display: flex;
    background-color: #333;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    
}

.nav-box {
    display: flex;
    align-items: flex-end;
    gap: 50px;
    padding-right: 70px;
    border-radius: 10% 10% 0 0;
    
}

@keyframes logospin {
    to {transform: rotate(-360deg)}
}

.logo {
    width: 90px;
    margin: 2px auto 5px 2px;
    animation-name: logospin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 
}


nav a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 10% 10% 0 0;
    /* height: 45px; */
    
    
}

nav a:hover {
    background-color: #00A95C;
    height: 80px;
    
}

footer {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #333;
    color: white;
}

#footer-address {
    grid-column-start: 2;
    font-size: 15px;
}

#footer-address h4 {
    font-size: 18px;
    margin-bottom: 0;
    
}

#footer-links {
    margin-top: 20px;
    grid-column-start: 5;
    
}

#footer-links > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#footer-icons {
    grid-column-start: 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90px 90px;
    padding-right: 15px;
    justify-items: center;
    align-items: center;
 
}

#footer-icons a {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

#footer-icons img {
    width: 50px;
}