* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-color: lightcoral;
}

main {
    margin: 0 20px;
    height: 100vh;
    background-color: rgba(192, 189, 189, 0.87);
}

#grid-container {
    margin-top: 100px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: rgba(192, 189, 189, 0.87);
    gap: 10px;
    justify-items: center;
}

#grid-container div {
    width: 100%;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/263402/pexels-photo-263402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
   
}

span {
    background-color: #eee;
    padding: 5px;
    display: block;
}



.dropdown-content {
    display: none;
    min-width: 160px;
    background-color:#00A95C;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}